@inject HttpClient HttpClient
@using Microsoft.AspNetCore.Components.Authorization
@using Microsoft.AspNetCore.Authorization
@using OhMyBoat.UI.Client.Extensions
@using OhMyBoat.UI.Shared
@using OhMyBoat.UI.Shared.Entidades
@inject IJSRuntime JsRuntime


<AuthorizeView>
    <Authorized>
        <div class="d-flex flex-column">
            <div class="d-flex">
                <img class="rounded-3 m-3" src="@Vehiculo.base64imagen" alt="Imagen del vehículo" style="width:100%; height:auto; max-width: 50vh"/>
                <div class="d-flex flex-column">
                    <h3>@Vehiculo.Tipo</h3>
                    <h4>@Vehiculo.Marca @Vehiculo.Modelo @Vehiculo.Anio</h4>
                    <h4 class="mb-5">@Vehiculo.Matricula</h4>
                    <h4 class="mb-3">Antiguedad: @Vehiculo.Antiguedad años.</h4>
                    <h4 class="mb-3">Kilometraje: @Vehiculo.Kilometraje km aproximadamente.</h4>
                </div>
            </div>
            <div class="d-flex flex-column">
                <h3>Descripcion:</h3>
                <div class="border rounded p-3 mb-3">@Vehiculo.descripcion</div>
                <div class="d-flex justify-content-end align-items-center"s>
                @if (!mostrarMensajeConfirmacion)
                {
                        <button @onclick="()=> mostrarMensajeConfirmacion=true" class="btn btn-outline-danger">Eliminar</button>
                }
                else
                {
                    <div>
                        Esta seguro que desea eliminar el vehiculo?
                        <button @onclick="() => {mostrarMensajeConfirmacion = false; StateHasChanged();}" class="btn btn-outline-secondary">Cancelar</button>
                        <button @onclick="async () => {await eliminarTerrestre(Vehiculo);}" class="btn btn-danger">Confirmar</button>
                    </div>
                }
                </div>
                
            </div>
        </div>
    </Authorized>
</AuthorizeView>

@code {
    [Parameter] public EventCallback<MouseEventArgs> OnClickCallback { get; set; }
    [Parameter] public int Id { get; set; }
    public Terrestre Vehiculo {get; set;} = new();
    private bool mostrarMensajeConfirmacion = false;

    private async Task eliminarTerrestre(Terrestre t)
    {
        var respuesta = await HttpClient.PostAsJsonAsync<Terrestre>("api/Vehiculos/EliminarTerrestre", t);
        if(respuesta != null)
        {
            if (respuesta.IsSuccessStatusCode)
            {
                await JsRuntime.InvokeVoidAsync("alert", "Se ha eliminado el vehiculo con exito");
                await OnClickCallback.InvokeAsync();
            }
            else
            {
                await JsRuntime.InvokeVoidAsync("alert", $"Error de api {respuesta.StatusCode}");
            }
        }
        else
        {
            await JsRuntime.InvokeVoidAsync("alert", "Error de api (no llega el objeto del post)");
        }
    }
    protected override async Task OnParametersSetAsync() {
        Vehiculo.Id = Id;
        var responseSV = await HttpClient.PostAsJsonAsync<Terrestre>("api/Vehiculos/GetVehiculo", Vehiculo) ?? new();
        if (responseSV.StatusCode == System.Net.HttpStatusCode.NetworkAuthenticationRequired){
            await JsRuntime.InvokeVoidAsync("alert", "Id innexistente");
            await OnClickCallback.InvokeAsync();
            return;
        }
        Vehiculo = await responseSV.Content.ReadFromJsonAsync<Terrestre>() ?? new();
    }
}