@page "/list-truques-cliente"
@using Microsoft.AspNetCore.Components.Authorization;
@using Microsoft.AspNetCore.Authorization;
@attribute [Authorize]
@inject AuthenticationStateProvider authStateProvider
@inject HttpClient HttpClient
@using OhMyBoat.UI.Client.Extensions
@using OhMyBoat.UI.Shared
@using OhMyBoat.UI.Shared.Entidades
@inject IJSRuntime JsRuntime
@inject NavigationManager Navegador

<AuthorizeView Roles="cliente" Context="OuterContext">
    <Authorized Context="OuterContext">
<div> 

    @if(ReporteTrueques.Count() == 0){
        <h4> No hay trueques concretados</h4>
    }else{

            <Grid @ref="grid"
                TItem="ReporteTrueque"
                Class="table table-hover table-bordered table-striped"
                Data="ReporteTrueques"
                AllowFiltering="true"
                PageSize="10"
                Responsive="true"
                AllowSorting="true">

                <GridColumn TItem="ReporteTrueque" HeaderText="Fecha del turno" PropertyName="FechaTurno" HeaderTextAlignment="Alignment.Center" TextAlignment="Alignment.Center" IsDefaultSortColumn="true" SortDirection="SortDirection.Descending" SortKeySelector="@(item => item.FechaTurno)">
                    @context.FechaTurno.ToString("yyyy/MM/dd hh:mm")
                </GridColumn>
                <GridColumn TItem="ReporteTrueque" HeaderText="Sede" PropertyName="Sucursal" SortKeySelector="@(item => item.Sucursal)">
                    @context.Sucursal
                </GridColumn>
            <GridColumn TItem="ReporteTrueque" HeaderText="Matricula 1" PropertyName="Patente_VehiculoRecibeOferta" SortKeySelector="@(item => item.Patente_VehiculoRecibeOferta )">
                    @context.Patente_VehiculoRecibeOferta
                </GridColumn>
            <GridColumn TItem="ReporteTrueque" HeaderText="Tipo Vehiculo" PropertyName="EsNavioRecibe" SortKeySelector="@(item => item.EsNavioRecibe )">
                   @if(context.EsNavioRecibe)
                   {
                        <p>Navio</p>
                   }   
                   else
                   {
                        <p>Terrestre</p>
                   }
                   
            </GridColumn>    
            <GridColumn TItem="ReporteTrueque" HeaderText="Matricula 2" PropertyName="Patente_VehiculoEnviaOferta" SortKeySelector="@(item => item.Patente_VehiculoEnviaOferta )">
                    @context.Patente_VehiculoEnviaOferta
                </GridColumn>
                <GridColumn TItem="ReporteTrueque" HeaderText="Concretado" PropertyName="Estado" SortKeySelector="@(item => item.Estado)">
                    @if(@context.Estado == EstadoOferta.Concretada ) {
                        <p>Concretado</p>
                    } else if(@context.Estado == EstadoOferta.Inconclusa ){
                        <p>Inconcluso</p>
                    }
                </GridColumn>
        </Grid>
    }
</div>
    </Authorized>
    <NotAuthorized Context="OuterContext">
        @{Navegador.NavigateTo("/");}
    </NotAuthorized>
</AuthorizeView>


@code {

    private BlazorBootstrap.Grid<ReporteTrueque> grid = default!;

    private List<ReporteTrueque> ReporteTrueques = new();
    protected override async Task OnInitializedAsync()
    {
        await LoadTrueques();
    }

    private async Task LoadTrueques() 
    {
        Auth = await authStateProvider.GetAuthenticationStateAsync();
        Email = Auth.User.Claims.Where(c => c.Type == ClaimTypes.Email).First().Value;

        var respSV = await HttpClient.PostAsJsonAsync("api/Trueque/GetReportesCliente", Email);
        ReporteTrueques = await respSV.Content.ReadFromJsonAsync<List<ReporteTrueque>>() ?? new();
    }
    

    



    }
